
h1{
  font-size: 30px;
  color: teal;
}

h2{
  color: red;
  font-size: 20px;
}


.big{font-size: 60px}
.uppercase{text-transform: uppercase;}
.big.uppercase{color: salmon;}

body {
  margin: 0;
  background-color: lightgrey;
  color: blue;
}

h1 {
  background-color: black;
  color: white;
}

div {
  background-color: blue;
  color: white;
}
